<!DOCTYPE html>
<html
lang="pt-br"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
	
		<script type="text/javascript">
		//-----------------
		//ALGORITMO QUE CONSOME O VIACEP
		//-----------------
	//ESSE ALGORITMO SÓ SERA CARREGADO DEPOIS QUE O SITE FOR CARREGADO 
	window.onload = function (){

	  	'use strict';

	  	//ALGORITMO DE BUSCA DO CEP NO VIACEP E PREENCHIMENTO AUTOMÁTICO
	  	
	  	//constante que limpa o formulário na origem
		const limparFormularioOrigem = (enderecoOrigem) =>{
		    document.getElementById('ruaOrigem').value = '';
		    document.getElementById('complementoOrigem').value = '';
		    document.getElementById('cidadeOrigem').value = '';
		    document.getElementById('estadoOrigem').value = '';
		}
		//constante que limpa o formulário no destino
		const limparFormularioDestino = (enderecoDestino) =>{
		    document.getElementById('ruaDestino').value = '';
		    document.getElementById('complementoDestino').value = '';
		    document.getElementById('cidadeDestino').value = '';
		    document.getElementById('estadoDestino').value = '';
		}

		//constante que preenche a origem
		const preencherFormularioOrigem = (enderecoOrigem) =>{
		    document.getElementById('ruaOrigem').value = enderecoOrigem.logradouro;
		    document.getElementById('complementoOrigem').value = enderecoOrigem.bairro;
		    document.getElementById('cidadeOrigem').value = enderecoOrigem.localidade;
		    document.getElementById('estadoOrigem').value = enderecoOrigem.uf;
		}
		//constante que preenche o destino
		const preencherFormularioDestino = (enderecoDestino) =>{
		    document.getElementById('ruaDestino').value = enderecoDestino.logradouro;
		    document.getElementById('complementoDestino').value = enderecoDestino.bairro;
		    document.getElementById('cidadeDestino').value = enderecoDestino.localidade;
		    document.getElementById('estadoDestino').value = enderecoDestino.uf;
		}


		const eNumero = (numero) => /^[0-9]+$/.test(numero);

		const cepValido = (cep) => cep.length == 8 && eNumero(cep); 

		const pesquisarCepOrigem = async() => {
		    limparFormularioOrigem();
		    
		    const cep = document.getElementById('cepOrigem').value;
		    const url = `https://viacep.com.br/ws/${cep}/json/`;
		    
		    if (cepValido(cep)){
		        	const dados = await fetch(url);
		       	 	const enderecoOrigem = await dados.json();
		        if (enderecoOrigem.hasOwnProperty('erro')){
		            document.getElementById('ruaOrigem').value = 'CEP não encontrado!';
		        }else {
		            preencherFormularioOrigem(enderecoOrigem);
		        }
		    }else{
		        document.getElementById('ruaOrigem').value = 'CEP incorreto!';
		    }
		     
		}
		
		
		//-------------

		const pesquisarCepDestino = async() => {
		    limparFormularioDestino();
		    
		    const cep = document.getElementById('cepDestino').value;
		    const url = `https://viacep.com.br/ws/${cep}/json/`;
		    if (cepValido(cep)){
		        	const dados = await fetch(url);
		        	const enderecoDestino = await dados.json();
		        if (enderecoDestino.hasOwnProperty('erro')){
		            document.getElementById('ruaDestino').value = 'CEP não encontrado!';
		        }else {
		            preencherFormularioDestino(enderecoDestino);
		        }
		    }else{
		        document.getElementById('ruaOrigem').value = 'CEP incorreto!';
		    }
		     
		}
		
		//-----------
		
		//ao sair do campo  cepOrigem a função pesquisar cep é chamada
		document.getElementById('cepOrigem')
		        .addEventListener('focusout',pesquisarCepOrigem);
		//ao sair do campo  cepDestino a função pesquisar cep é chamada
		document.getElementById('cepDestino')
        		.addEventListener('focusout',pesquisarCepDestino);
	
	}	
		
	</script>
	
	<link rel="icon" type="image/png" href="https://portal.cetfaesa.com.br/midias/icone-cursos-logistica-914.png" />
	<meta charset="UTF-8">
	<title>Cadastro da entrega</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="estilo.css" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
	<div class="container rounded border border-primary" id="caixa">
		
		<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary fixed-top">
  <a class="nav-link" th:href="@{/index}">
  <img src="https://i.ibb.co/02QhfnK/logo-1-1.png" alt="logo-1-1" border="0" width="80"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/index}">Home <span class="sr-only"></span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opções para Encomendas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
       	  <a class="dropdown-item" th:href="@{/newEncomenda}">Cadastrar Entrega</a>
          <a class="dropdown-item" th:href="@{/encomendas}">Lista de Entregas a serem feitas</a>
        </div>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opções do Entregador
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" th:href="@{/newEntregador}">Cadastrar Entregador</a>
          <a class="dropdown-item"  th:href="@{/entregadores}">Lista de entregadores cadastrados</a>
        </div>
      </li>
      
    </ul>
  </div>
</nav>

	<div style="margin-top:100px;"><!-- Aqui dentro vai o texto -->
	
	

	
	
        
              <form th:action="@{/saveEncomenda}" th:object="${encomenda}" method="post" style="margin-bottom: 50px;" name="formulario">
			<h2 align="center">Cadastramento de Novas Encomendas</h2>
			
			<h3 align="center">Origem</h3>
			<div class="form-group">
					Informe o CEP:
					<input type="text" data-mask="00000000" maxlength="8" placeholder="Máximo de 8 números" id="cepOrigem"  class="form-control" th:field="*{cepOrigem}" required="required"/>
			</div>
			<div class="form-group">
					Informe a Rua:
					<input type="text" maxlength="25" placeholder="Máximo de 25 caracteres" id="ruaOrigem" class="form-control" th:field="*{ruaOrigem}" required="required"/>
		    </div>
		    <div class="form-group">
					Informe o Complemento:
					<input type="text" maxlength="50" placeholder="Máximo de 50 caracteres" id="complementoOrigem" class="form-control"  th:field="*{complementoOrigem}" required="required"/>
			</div>
			
			<div class="form-group">
					Informe a Cidade:
					<input type="text" maxlength="20" placeholder="Máximo de 20 caracteres" id="cidadeOrigem" class="form-control" th:field="*{cidadeOrigem}" required="required"/>
			</div>
			<div class="form-group">
					Informe o Estado:
					<input type="text" maxlength="20" placeholder="Máximo de 20 caracteres" id="estadoOrigem" class="form-control" th:field="*{estadoOrigem}" required="required"/>
			</div>
			
			
					<h3 align="center">Destino</h3>
			<div class="form-group">
					Informe o CEP:
					<input type="text" data-mask="00000000" maxlength="8" placeholder="Máximo de 5 números" id="cepDestino" class="form-control" th:field="*{cepDestino}" required="required"/>
			</div>
			<div class="form-group">
					Informe a Rua:
					<input type="text" maxlength="25" placeholder="Máximo de 25 caracteres" id="ruaDestino" class="form-control" th:field="*{ruaDestino}" required="required"/>
		    </div>
		    <div class="form-group">
					Informe o Complemento:
					<input type="text" maxlength="50" placeholder="Máximo de 50 caracteres" id="complementoDestino" class="form-control"  th:field="*{complementoDestino}" required="required"/>
			</div>
			
			<div class="form-group">
					Informe a Cidade:
					<input type="text" maxlength="20" placeholder="Máximo de 20 caracteres" id="cidadeDestino" class="form-control" th:field="*{cidadeDestino}" required="required"/>
			</div>
			<div class="form-group">
					Informe o Estado:
					<input type="text" maxlength="20" placeholder="Máximo de 20 caracteres" id="estadoDestino" class="form-control" th:field="*{estadoDestino}" required="required"/>
			</div>
			
			<div class="form-group">
				<div align="center">
					<button type="submit" class="btn btn-success" value="Salvar">Salvar</button>
					<input type="reset" class="btn btn-danger"  value="Resetar">
					<a th:href="@{/encomendas}"><button type="button" class="btn btn-primary">Voltar</button></a>
				</div>		
			</div>	
			
		</form>
        
		<hr>
		<footer>
			<div id="rodape">Desenvolvido por Marcos Sousa</div>
		</footer>
	</div>
	
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/data.js/0.3.0/data.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
  	<script src="http://code.jquery.com/qunit/qunit-1.11.0.js"></script>
  	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
</body>
</html>